header{
    display: flex;
    color: white;
}
.contenidoHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.header_link{
    margin: .5rem;
    padding: 2rem;
    border-radius: 50px;
  
}
.header_link:hover{
    border: 1px solid var(--celeste);
}
