.nav{
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    margin-inline-start: 0;
    padding-inline-start: 0;
}
.nav__item{
    color:var(--blanco);
    padding: 1rem;
    border-radius: 25px;
    transition: border 8s ease;
}
.nav__item:hover{
   border:1px solid white;
}